<!-- ./admin/_items/AxialAdminInternalProductListItem -->
<template id="axial-admin-internal-product-list-item-template">
    <link rel="stylesheet" href="./styles.css">
    <div class="axial_admin_list_item-background"></div>
    <div class="axial_admin_list_item-content">
        <div class="axial_admin_internal_product_list_item-product">
            <img id="photo" class="axial_admin_internal_product_list_item-photo">
            <div id="name" class="axial_admin_internal_product_list_item-name"></div>
        </div>
        <div id="cost" class="axial_admin_internal_product_list_item-cost"></div>
        <div id="coef" class="axial_admin_internal_product_list_item-coef"></div>
        <div id="tax" class="axial_admin_internal_product_list_item-tax"></div>
        <div slot="axial-header" class="axial_spacer"></div>
        <div id="actions" class="axial_admin_list_item-actions"></div>
    </div>
</template>