<!-- AxialAdminMediasSelectorItem -->
<template id="axial-admin-medias-selector-item-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="background" class="axial_admin_medias_selector_item-background"></div>
    <div id="content" class="axial_admin_medias_selector_item-content">
        <div id="medias" class="axial_admin_medias_selector_item-medias">
            <img id="image" class="axial_admin_medias_selector_item-image">
            <video id="video" controls preload="auto" class="axial_admin_medias_selector_item-video"></video>
        </div>
        <div id="actions" class="axial_admin_medias_selector_item-actions">
            <div id="infos" class="axial_admin_medias_selector_item-infos">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path class="axial_admin_fill_theme" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
                </svg>
            </div>
            <div id="name" class="axial_admin_medias_selector_item-name"></div>
        </div>
    </div>
</template>