<!-- ./admin/_items/AxialAdminClientListItem -->
<template id="axial-admin-client-list-item-template">
    <link rel="stylesheet" href="./styles.css">
    <div class="axial_admin_list_item-background"></div>
    <div class="axial_admin_list_item-content">
        <div class="axial_admin_client_list_item-user">
            <img id="photo" class="axial_admin_client_list_item-photo">
            <div id="name" class="axial_admin_client_list_item-name">Name</div>
        </div>
        <div id="clientType" class="axial_admin_client_list_item-type">type</div>
        <div id="email" class="axial_admin_client_list_item-email">email</div>
        <div id="tel" class="axial_admin_client_list_item-tel">00 00 00 00 00</div>
        <div slot="axial-header" class="axial_spacer"></div>
        <div id="actions" class="axial_admin_list_item-actions"></div>
    </div>
</template>