/*
OVERRIDE HERE AXIAL VARIABLES
*/

/* Axial Application Theme */
@Body___primaryFont: "Arial", sans-serif;
@Body___secondaryFont: "Arial", sans-serif;
@Body___backgroundColor: #fff;

/* AxialButton */
@AxialButton___backgroundColor: #0463b1;
@AxialButton___borderRadius: 4px;
@AxialButton___boxShadow: 0px 1px 1px #111;
@AxialButton___color: #fff;
@AxialButton___fontWeight: 500;