/* AxialLoginForm */
.axial_login_form
{
    display: block;
    min-width: 280px;
    width: auto;
    height: auto;
    padding: 10px;
}
.axial_login_form-form
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.axial_login_form-input
{
    margin-top: 6px;
    margin-bottom: 14px;
}
.axial_login_form-button
{
    opacity: 0.5;
    pointer-events: none;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

/* AxialRegistrationForm */
.axial_registration_form
{
    display: block;
    min-width: 280px;
    width: auto;
    height: auto;
    padding: 10px;
}
.axial_registration_form-form
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.axial_registration_form-input
{
    margin-top: 6px;
    margin-bottom: 14px;
}
.axial_registration_form-button
{
    opacity: 0.5;
    pointer-events: none;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: ease;
}