*
{
    box-sizing: border-box;
}
html
{
    -webkit-tap-highlight-color: transparent;
    text-shadow: none;
}
body
{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    font-family: var(--body___mainFont);
    background-color: var(--body___backgroundColor);
    color: var(--body___textColor);
    
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a
{
    text-decoration: none;
    color: var(--body___textColor);
}
a:visited
{
    text-decoration: none;
    color: var(--body___textColor);
}

h1, h2, h3, h4, h5, h6
{
    color: var(--white);
}
input
{
    -webkit-user-select: text;   
    user-select: text;

    appearance: none;
    outline: none;

    display: block;
    width: 100%;
    min-height: 42px;
    
    padding-left:  10px;
    padding-right: 10px;
    padding-top:    3px;
    padding-bottom: 4px;

    font-family: var(--body___mainFont);
    font-size: var(--input___fontSize);
    font-weight: var(--input___fontWeight);
    border-radius: var(--component___borderRadius);
    border: 2px solid var(--greyDark);
    background-color: var(--white);
    
}
input::placeholder
{
    font-size:   var(--input___placeholderFontSize);
    font-weight: var(--input___placeholderFontWeight);
}
input[type="file"]
{
    min-height: 60px;
}
input[type="file" i]
{
    font-family: var(--body___mainFont);
    color:       var(--body___textColor);
}
input[type="file"]::file-selector-button
{
    min-height: 42px;

    cursor: pointer;

    appearance: none;
    border:     none;
    outline:    none;

    padding-top:   10px;
    padding-bottom: 8px;
    padding-left:  14px;
    padding-right: 14px;

    font-family:        var(--body___mainFont);
    border-radius:      var(--component___borderRadius);

    font-weight:        var(--AxialButton___fontWeight);
    color:              var(--AxialButton___textColor);
    background-color:   var(--AxialButton___backgroundColor);
    box-shadow:         var(--AxialButton___boxShadow);
}
textarea
{
    display: block;
    resize: none;
    outline: none;

    width: 100%;
    height: 100%;
    min-height: 200px;
    padding: 10px;

    font-family: var(--body___mainFont);
    font-size: var(--input___fontSize);
    font-weight: var(--input___fontWeight);
    border-radius: var(--component___borderRadius);
    border: 2px solid var(--black);
    background-color: var(--white);
}

/* layers */
.axial_layer_base
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
.axial_background_layer
{
    background-color: transparent;
}
.axial_3d_layer
{
    background-color: transparent;
}
.axial_main_layer
{
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.axial_intro_layer        { z-index: 2; }
.axial_popup_layer        { z-index: 3; }
.axial_notification_layer { z-index: 4; }
.axial_overlay_layer      { z-index: 5; }
.axial_tooltip_layer      { z-index: 6; }

/* header */
.axial_header
{
    position: fixed;
    width: 100%;
    height: var(--header___height);
    z-index: 1;
}
.axial_header_background
{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--header___backgroundColor);
}
.axial_header_content
{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left:   var(--header___paddingH);
    padding-right:  var(--header___paddingH);
    padding-top:    var(--header___paddingV);
    padding-bottom: var(--header___paddingV);
}
.axial_header_title
{
    font-size:   var(--headerTitle___fontSize);
    font-weight: var(--headerTitle___fontWeight);
}
.axial_header_logo
{
    display: flex;
    height: var(--headerLogo___height);
    width: auto;
}
.axial_header_logo_svg
{
    display: block;
    height: var(--headerLogo___height);
    width: auto;
}
.axial_header_logo_img
{
    display: block;
    height: var(--headerLogo___height);
    width: auto;
}
.axial_header_nav
{
    height: 100%;
    width: auto;
    display: none;
    flex-direction: row;
    align-items: center;
}
.axial_header_nav_item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
    margin-left: var(--headerNavItem___marginH);
    margin-right: var(--headerNavItem___marginH);
    font-size: var(--headerNavItem___fontSize);
    font-weight: var(--headerNavItem___fontWeight);
    cursor: pointer;
}
.axial_header_nav_item-label
{
    margin-bottom: 4px;
}
.axial_header_nav_item-line
{
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--white);

    transform-origin: center;
    transform: scaleX(0);

    transition-property: transform;
    transition-duration: 420ms;
    transition-timing-function: ease;
}
.axial_header_nav_item:hover .axial_header_nav_item-line
{
    transform: scaleX(1);
}
.axial_header_nav_item_separator
{
    margin-left: 10px;
    margin-right: 10px;
}

/* breadcrumbs */
.axial_breadcrumbs
{
    padding-left:   var(--section___paddingH);
    padding-right:  var(--section___paddingH);
    padding-top:    6px;
    padding-bottom: 6px;

    width: 100%;
    min-height: 40px;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--themeColor);
}
.axial_breadcrumbs_item
{
    color: var(--white);
}
.axial_breadcrumbs_link
{
    color: var(--white);
    text-decoration: underline;
}
.axial_breadcrumbs_link:visited
{
    color: var(--white);
    text-decoration: underline;
}
.axial_breadcrumbs_link:visited:hover
{
    color: var(--white);
    text-decoration: underline;
}
.axial_breadcrumbs_separator
{
    color: var(--white);
    margin-left: 10px;
    margin-right: 10px;
}

/* main */
.axial_main
{
    position: relative;
    display: block;
    width: 100%;
    min-height: 100vh;
}

/* section */
.axial_section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.axial_section_background
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.axial_section_content
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* section utils */
.axial_section_padding
{
    padding-top:    var(--header___height);

    padding-left:   var(--section___paddingH);
    padding-right:  var(--section___paddingH);
    padding-bottom: var(--section___paddingV);
}
.axial_section_subtitle
{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}
.axial_section_title
{
    font-size: 48px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}
.axial_section_map
{
    width: 100%;
    height: 600px;
}
.axial_section_mapframe
{
    width: 100%;
    height: 100%;
}

/* footer */
.axial_footer
{
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    color: var(--white);
}
.axial_footer_background
{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--themeColor);
}
.axial_footer_content
{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    padding-left:  var(--footer___paddingH);
    padding-right: var(--footer___paddingH);
}
.axial_footer_section
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: var(--footer___sectionDirection);
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}

/* utils */
.axial_spacer
{
    flex-grow: 1;
}
.axial_parallax
{
    will-change: transform;
    /*transform: translate3d(0, 0, 0);*/
    translate: 0px 0px;
    scale: 1;
}

/* application components */
.axial_scroller_base
{
    overflow-x: hidden;
    overflow-y: auto;
}
.axial_scroller_item_base
{
    animation-delay: 0ms;
    animation-duration: 0ms;
    animation-fill-mode: backwards;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

/* Notifier */
.axial_notifier
{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.axial_notifier_holder
{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px;
    bottom: 0px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
}
.axial_notifier_content
{
    width: 100%;
    height: auto;
    padding: 10px;
    min-height: 40px;
    
    color: var(--greyDark);
    background-color: var(--greyLight);
    border-radius: var(--component___borderRadius);
    box-shadow: 0px 1px 3px var(--black);
}