*
{
    box-sizing: border-box;
}
html
{
    -webkit-tap-highlight-color: transparent;
    text-shadow: none;
}
body
{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    font-family:      var(--body___mainFont);
    background-color: var(--body___backgroundColor);
    color:            var(--body___textColor);
    
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a
{
    text-decoration: none;
    color: var(--body___textColor);
}
a:visited
{
    text-decoration: none;
    color: var(--body___textColor);
}
h1, h2, h3, h4, h5, h6
{
    color: var(--body___textColor);
}
input
{
    -webkit-user-select: text;   
    user-select: text;

    appearance: none;
    outline: none;

    display: block;
    width: 100%;
    height: 42px;
    min-height: 42px;
    
    padding-left:  10px;
    padding-right: 10px;
    padding-top:    3px;
    padding-bottom: 4px;

    font-family:      var(--body___mainFont);
    font-size: var(--input___fontSize);
    font-weight: var(--input___fontWeight);
    border-radius: var(--component___borderRadius);
    border: 2px solid var(--greyDark);
    background-color: var(--whiteLight);
}
input::placeholder
{
    font-size:   var(--input___placeholderFontSize);
    font-weight: var(--input___placeholderFontWeight);
}
input:disabled
{
    opacity: 0.5;
}
input[type="file"]
{
    height: 42px;
    min-height: 42px;
    padding: unset;
    background-color: unset;
    border: none;
    font-size: 14px;
}
input[type="file" i]
{
    font-family: var(--body___mainFont);
    color:       var(--body___textColor);
}
input[type="file"]::file-selector-button
{
    height: 42px;
    min-height: 42px;

    cursor: pointer;

    appearance: none;
    border:     none;
    outline:    none;

    padding-top:    9px;
    padding-bottom: 9px;
    padding-left:  14px;
    padding-right: 14px;

    font-family:        var(--body___mainFont);
    border-radius:      var(--component___borderRadius);

    font-weight:        var(--AxialButton___fontWeight);
    color:              var(--AxialButton___textColor);
    background-color:   var(--AxialButton___backgroundColor);
}
input[type="color"]
{
    padding: 0;
    max-width: 300px;
}
textarea
{
    display: block;
    resize: none;
    outline: none;

    width: 100%;
    height: 100%;
    min-height: 200px;
    padding: 10px;

    font-family: var(--body___mainFont);
    font-size: var(--input___fontSize);
    font-weight: var(--input___fontWeight);
    border-radius: var(--component___borderRadius);
    border: 2px solid var(--greyDark);
    background-color: var(--whiteLight);
}
select
{
    appearance: none;
    outline: none;

    display: block;
    width: 100%;
    height: 42px;
    
    padding-left:  10px;
    padding-right: 10px;
    padding-top:    3px;
    padding-bottom: 4px;

    font-family: var(--body___mainFont);
    font-size: var(--input___fontSize);
    font-weight: var(--input___fontWeight);
    border-radius: var(--component___borderRadius);
    border: 2px solid var(--greyDark);
    background-color: var(--white);
}
.fa-color
{
    color: #fff;
}
// general
.ax_bo { font-weight: 600; }
.ax_it { font-style: italic; }
.ax_le { text-align: left; }
.ax_ri { text-align: right; }
/* layers */
.axial_layer_base
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
.axial_background_layer
{
    background-color: transparent;
}
.axial_3d_layer
{
    background-color: transparent;
}
.axial_main_layer
{
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.axial_intro_layer        { z-index: 20; }
.axial_popup_layer        { z-index: 30; }
.axial_medias_layer       { z-index: 40; }
.axial_notification_layer { z-index: 50; }
.axial_overlay_layer      { z-index: 60; }
.axial_tooltip_layer      { z-index: 70; }
.axial_transition_layer
{
    z-index: 999999999;
    pointer-events: all;

    transform: translateY(0%);

    transition-property: transform;
    transition-duration: 600ms;
    transition-timing-function: ease;

    background-color: var(--black);
}
/* header */
.axial_header
{
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header___height);
    z-index: 10;

    color:  var(--header___color);
    border-bottom: 1px solid #e1e6f0;

    transition-property: top;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.axial_header_background
{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--header___backgroundColor);
}
.axial_header_content
{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left:   var(--header___paddingH);
    padding-right:  var(--header___paddingH);
    padding-top:    var(--header___paddingV);
    padding-bottom: var(--header___paddingV);
}
.axial_header_title
{
    font-size:   var(--headerTitle___fontSize);
    font-weight: var(--headerTitle___fontWeight);
}
.axial_header_logo
{
    display: flex;
    height: var(--headerLogo___height);
    width: auto;
}
.axial_header_logo_svg
{
    display: block;
    height: var(--headerLogo___height);
    width: auto;
}
.axial_header_logo_img
{
    display: block;
    height: var(--headerLogo___height);
    width: auto;
}
.axial_header_nav
{
    height: 100%;
    width: auto;
    display: none;
    flex-direction: row;
    align-items: center;
}
.axial_header_nav_item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
    margin-left: var(--headerNavItem___marginH);
    margin-right: var(--headerNavItem___marginH);
    font-size: var(--headerNavItem___fontSize);
    font-weight: var(--headerNavItem___fontWeight);
    cursor: pointer;
}
.axial_header_nav_item:first-child
{
    margin-left: 0;
}
.axial_header_nav_item:last-child
{
    margin-right: 0;
}
.axial_header_nav_item-label
{
    margin-bottom: 4px;
}
.axial_header_nav_item-line
{
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--white);

    transform-origin: center;
    transform: scaleX(0);

    transition-property: transform;
    transition-duration: 420ms;
    transition-timing-function: ease;
}
.axial_header_nav_item:hover .axial_header_nav_item-line
{
    transform: scaleX(1);
}
.axial_header_nav_item_separator
{
    margin-left: 10px;
    margin-right: 10px;
}
/* breadcrumbs */
.axial_breadcrumbs
{
    padding-left:   var(--section___paddingH);
    padding-right:  var(--section___paddingH);
    padding-top:    6px;
    padding-bottom: 6px;

    width: 100%;
    min-height: 40px;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--themeColor);
}
.axial_breadcrumbs_item
{
    color: var(--white);
}
.axial_breadcrumbs_link
{
    color: var(--white);
    text-decoration: underline;
}
.axial_breadcrumbs_link:visited
{
    color: var(--white);
    text-decoration: underline;
}
.axial_breadcrumbs_link:visited:hover
{
    color: var(--white);
    text-decoration: underline;
}
.axial_breadcrumbs_separator
{
    color: var(--white);
    margin-left: 10px;
    margin-right: 10px;
}
/* main */
.axial_main
{
    position: relative;
    display: block;
    width: 100%;
    min-height: 100vh;
    background-color: var(--main___backgroundColor);
}
/* section */
.axial_section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.axial_section_background
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.axial_section_content
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
/* section utils */
.axial_section_padding
{
    padding-top:    var(--header___height);

    padding-left:   var(--section___paddingH);
    padding-right:  var(--section___paddingH);
    padding-bottom: var(--section___paddingV);
}
.axial_section_temp
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 48px;
}
.axial_section_subtitle
{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}
.axial_section_title
{
    font-size: 48px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}
.axial_section_map
{
    width: 100%;
    height: 600px;
}
.axial_section_mapframe
{
    width: 100%;
    height: 100%;
}
/* footer */
.axial_footer
{
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    color: var(--footer___color);
}
.axial_footer_background
{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--footer___backgroundColor);
    color: var(--footer___color);
}
.axial_footer_content
{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    padding-left:  var(--footer___paddingH);
    padding-right: var(--footer___paddingH);
}
.axial_footer_section
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: var(--footer___sectionDirection);
    justify-content: space-between;

    border-top: 1px solid var(--greyDark);

    padding-top: 40px;
    padding-bottom: 40px;

}
.axial_footer_legal
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.axial_footer_legal_link
{
    font-size: 14px;
    font-weight: 600;
}
.axial_footer_social
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.axial_footer_social_link
{
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* utils */
.axial_spacer
{
    flex-grow: 1;
}
.axial_parallax
{
    will-change: transform;
    /*transform: translate3d(0, 0, 0);*/
    translate: 0px 0px;
    scale: 1;
}
/* Notifier */
.axial_notifier
{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.axial_notifier_holder
{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px;
    bottom: 0px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 420ms;
    transition-timing-function: ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.axial_notifier_content
{
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    min-height: 40px;
    pointer-events: all;
    
    color: var(--greyDark);
    background-color: rgba(255, 253, 251, 0.23);
    backdrop-filter: blur(10px);
    background-blend-mode: overlay;
    border-radius: var(--component___borderRadius);
    box-shadow: 0px 1px 10px #919293;
}
/* AxialInformationBar */
.axial_information_bar
{
    position: fixed;
    width: 100%;
    top: 0;
    height: auto;
    z-index: 1;

    transition-property: top;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.axial_information_bar-holder
{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    /*background-color: #028ed4;*/ /*love this blue*/
    background-color: var(--themeColor);
}

.axial_information_bar-content
{
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.axial_information_bar-closer
{
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.axial_information_bar-svg
{
    cursor: pointer;
    fill: #fff;
    width: 18px;
    height: 18px;

    transform: rotate(0deg);

    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.axial_information_bar-svg:hover
{
    transform: rotate(90deg);
}

/* Editors */
.axial_editor_base
{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 10%;
    padding-right: 10%;
}

/* CopilotWeekPlanning */
.axial_week_planning
{
    position: relative;
    width: 100%;
    height: 100%;
}
.axial_week_planning-grid
{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(12, 60px);
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    text-align: left;
    background-color: #fff;
}
.axial_week_planning-cell
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #dedede;
}
/* morning */
.awp_input
{
    border: none;
    border-radius: unset;
    width: 100%;
    height: 100%;
}

.awp_subtotal
{
    border: none;
    border-radius: unset;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #b5e3fd;
}
.awp_total
{
    border: none;
    border-radius: unset;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.axial_week_planning-morning       { grid-row: 1; grid-column: 2 / span 3; }
.axial_week_planning-morning_start { grid-row: 2; grid-column: 2; }
.axial_week_planning-morning_end   { grid-row: 2; grid-column: 3; }
.axial_week_planning-morning_total { grid-row: 2; grid-column: 4; }

.awp_morning_start-1                 { grid-row: 3; grid-column: 2; }
.awp_morning_start-2                 { grid-row: 4; grid-column: 2; }
.awp_morning_start-3                 { grid-row: 5; grid-column: 2; }
.awp_morning_start-4                 { grid-row: 6; grid-column: 2; }
.awp_morning_start-5                 { grid-row: 7; grid-column: 2; }
.awp_morning_start-6                 { grid-row: 8; grid-column: 2; }
.awp_morning_start-7                 { grid-row: 9; grid-column: 2; }

.awp_morning_end-1                 { grid-row: 3; grid-column: 3; }
.awp_morning_end-2                 { grid-row: 4; grid-column: 3; }
.awp_morning_end-3                 { grid-row: 5; grid-column: 3; }
.awp_morning_end-4                 { grid-row: 6; grid-column: 3; }
.awp_morning_end-5                 { grid-row: 7; grid-column: 3; }
.awp_morning_end-6                 { grid-row: 8; grid-column: 3; }
.awp_morning_end-7                 { grid-row: 9; grid-column: 3; }

.awp_morning_subtotal-1                 { grid-row: 3; grid-column: 4; }
.awp_morning_subtotal-2                 { grid-row: 4; grid-column: 4; }
.awp_morning_subtotal-3                 { grid-row: 5; grid-column: 4; }
.awp_morning_subtotal-4                 { grid-row: 6; grid-column: 4; }
.awp_morning_subtotal-5                 { grid-row: 7; grid-column: 4; }
.awp_morning_subtotal-6                 { grid-row: 8; grid-column: 4; }
.awp_morning_subtotal-7                 { grid-row: 9; grid-column: 4; }

.awp_noon_start-1                 { grid-row: 3; grid-column: 5; }
.awp_noon_start-2                 { grid-row: 4; grid-column: 5; }
.awp_noon_start-3                 { grid-row: 5; grid-column: 5; }
.awp_noon_start-4                 { grid-row: 6; grid-column: 5; }
.awp_noon_start-5                 { grid-row: 7; grid-column: 5; }
.awp_noon_start-6                 { grid-row: 8; grid-column: 5; }
.awp_noon_start-7                 { grid-row: 9; grid-column: 5; }

.awp_noon_end-1                 { grid-row: 3; grid-column: 6; }
.awp_noon_end-2                 { grid-row: 4; grid-column: 6; }
.awp_noon_end-3                 { grid-row: 5; grid-column: 6; }
.awp_noon_end-4                 { grid-row: 6; grid-column: 6; }
.awp_noon_end-5                 { grid-row: 7; grid-column: 6; }
.awp_noon_end-6                 { grid-row: 8; grid-column: 6; }
.awp_noon_end-7                 { grid-row: 9; grid-column: 6; }

.awp_noon_subtotal-1                 { grid-row: 3; grid-column: 7; }
.awp_noon_subtotal-2                 { grid-row: 4; grid-column: 7; }
.awp_noon_subtotal-3                 { grid-row: 5; grid-column: 7; }
.awp_noon_subtotal-4                 { grid-row: 6; grid-column: 7; }
.awp_noon_subtotal-5                 { grid-row: 7; grid-column: 7; }
.awp_noon_subtotal-6                 { grid-row: 8; grid-column: 7; }
.awp_noon_subtotal-7                 { grid-row: 9; grid-column: 7; }

/* totals */
.awp_morning_total { grid-row: 10; grid-column: 4; background-color: #51bfff; }
.awp_noon_total    { grid-row: 10; grid-column: 7; background-color: #51bfff; }
.awp_week_total    { grid-row: 12; grid-column: 7; background-color: #00456d; color: #fff; }

/* noon */
.axial_week_planning-noon          { grid-row: 1; grid-column: 5 / span 3; }
.axial_week_planning-noon_start    { grid-row: 2; grid-column: 5; }
.axial_week_planning-noon_end      { grid-row: 2; grid-column: 6; }
.axial_week_planning-noon_total    { grid-row: 2; grid-column: 7; }

/* days */
.axial_week_planning-day          { grid-row: 2; grid-column: 1; }
.axial_week_planning-monday       { grid-row: 3; grid-column: 1; }
.axial_week_planning-tuesday      { grid-row: 4; grid-column: 1; }
.axial_week_planning-wednesday    { grid-row: 5; grid-column: 1; }
.axial_week_planning-thursday     { grid-row: 6; grid-column: 1; }
.axial_week_planning-friday       { grid-row: 7; grid-column: 1; }
.axial_week_planning-saturday     { grid-row: 8; grid-column: 1; }
.axial_week_planning-sunday       { grid-row: 9; grid-column: 1; }