/* AxialButtonBase */
.axial_button_base
{
    cursor: pointer;
}

/* AxialButton */
.axial_button
{
    overflow: hidden;
    position: relative;

    width: auto;
    height: auto;

    border-radius: var(--component___borderRadius);    
    box-shadow: var(--AxialButton___boxShadow);

    fill: #fff;
}

.axial_button-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--AxialButton___backgroundColor);
}
.axial_button-foreground
{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0);

    transition-property: background-color;
    transition-duration: 240ms;
    transition-timing-function: linear;
}
.axial_button-content
{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;
}
.axial_button-label
{
    width: auto;
    color: var(--AxialButton___textColor);
    font-weight: var(--AxialButton___fontWeight);
}
.axial_button-icon
{
    position: relative;
}
.axial_button_helper-icon_holder
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
}

/* AxialToggleButton */
.axial_toggle_button
{
    overflow: hidden;
    position: relative;

    width: auto;
    height: auto;

    border-radius: var(--component___borderRadius);    
    box-shadow: var(--AxialToggleButton___boxShadow);

    fill: #fff;
}

.axial_toggle_button-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--AxialToggleButton___backgroundColor);
}
.axial_toggle_button-foreground
{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0);

    transition-property: background-color;
    transition-duration: 240ms;
    transition-timing-function: linear;
}
.axial_toggle_button-content
{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
}
.axial_toggle_button-label
{
    width: auto;
    color: var(--AxialToggleButton___textColor);
    font-weight: var(--AxialToggleButton___fontWeight);
}
.axial_toggle_button-icon
{
    position: relative;
}
.axial_toggle_button_helper-icon_holder
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
}

/* AxialToggleCheck */
.axial_toggle_check
{
    width: -moz-fit-content;
    width: fit-content;
    /*min-width: 42px;*/
    height: 42px;
    min-height: 42px;
    /*padding: 4px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.axial_toggle_check-border
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: #111;
    margin-right: 12px;
    border: solid 2px #fff;
    flex-shrink: 0;
}
.axial_toggle_check-sign
{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #fff;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 200ms;
}
.axial_toggle_check-label
{
    color: var(--AxialToggleCheck___textColor);
}

/* AxialToggleRadio */
.axial_toggle_radio
{
    width: -moz-fit-content;
    width: fit-content;
    height: 42px;
    min-height: 42px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.axial_toggle_radio-border
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--black);
    margin-right: 12px;
    border: solid 2px var(--white);
}
.axial_toggle_radio-circle
{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--white);
    transform: scale(0);
    transition-property: transform;
    transition-duration: 200ms;
}
.axial_toggle_radio-label
{
    color: var(--AxialToggleRadio___color);
}

/* AxialToggleSwitch */
.axial_toggle_switch
{
    width: 46px;
    min-height: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid var(--white);
    padding: 4px;
    background-color: var(--black);
}
.axial_toggle_switch-circle
{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--white);
    position: relative;
    left: 0px;
    transition-property: left;
    transition-duration: 200ms;
}

/* AxialBurgerButton */
.axial_burger_button
{
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: var(--component___borderRadius);
    z-index: 1000;
}
.axial_burger_button-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--AxialBurgerButton___backgroundColor);
}
.axial_burger_button-lines
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.axial_burger_button-line
{
    position: absolute;
    width: 26px;
    height: 2px;
    overflow: hidden;
    left: 11px;
    transform-origin: center;

    transition-property: top, transform;
    transition-duration: 400ms;
    transition-timing-function: ease;

    background-color: var(--AxialBurgerButton___lineColor);
}
.axial_burger_button-top
{
    top: 13px;
}
.axial_burger_button-middle
{
    top: 23px;
}
.axial_burger_button-bottom
{
    top: 33px;
}