/* AxialCrossContainer */
.axial_cross_container
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.axial_cross_container_element
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.axial_cross_container-center
{
    transform: translate(0%,0%);
}
.axial_cross_container-top
{
    transform: translate(0%,-100%);
}
.axial_cross_container-right
{
    transform: translate(100%,0%);
}
.axial_cross_container-bottom
{
    transform: translate(0%,100%);
}
.axial_cross_container-left
{
    transform: translate(-100%,0%);
}

/* AxialSliderBase */
.axial_slider_base
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.axial_slider_item_base
{
    position: absolute;
    
    height: 100%;
    width: auto;
    cursor: pointer;

    transition-property: left;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

/* AxialRateStars */
.axial_rate_stars
{
    width: 200px;
    height: 34px;
}
.axial_rate_stars-holder
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.axial_rate_stars-symbol
{
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.axial_rate_stars-fill
{
    fill: #fff;
}

/* AxialNavigationHelper*/
.axial_navigation_helper
{
    height: 100%;
    width: auto;
}

/* Axial3DViewer : to move in a specific css */
.axial_3d_viewer
{
    position: relative;
    display: block;
    width: 300px;
    height: 150px;
    min-width: 300px;
    min-height: 150px;
}
.axial_3d_viewer-full
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.axial_3d_canvas
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}