/* AxialCrossContainer */
.axial_cross_container
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.axial_cross_container_element
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.axial_cross_container-center
{
    transform: translate(0%,0%);
}
.axial_cross_container-top
{
    transform: translate(0%,-100%);
}
.axial_cross_container-right
{
    transform: translate(100%,0%);
}
.axial_cross_container-bottom
{
    transform: translate(0%,100%);
}
.axial_cross_container-left
{
    transform: translate(-100%,0%);
}
/* AxialRateStars */
.axial_rate_stars
{
    width: 200px;
    height: 34px;
}
.axial_rate_stars-holder
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.axial_rate_stars-symbol
{
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.axial_rate_stars-fill
{
    fill: #fff;
}
/* AxialNavigationHelper*/
.axial_navigation_helper
{
    height: 100%;
    width: auto;
}
/* Axial3DViewer : to move in a specific css */
.axial_3d_viewer
{
    position: relative;
    display: block;
    width: 300px;
    height: 150px;
    min-width: 300px;
    min-height: 150px;
}
.axial_3d_viewer-full
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.axial_3d_canvas
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* AxialFlipbookBase */
.axial_flipbook_base
{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 120px;
    overflow: visible;
}
/* AxialFlipbookPageBase */
.axial_flipbook_page_base
{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;

    display: none;
    background-color: var(--greyLight);
}
/* AxialToggleCalendarDate */
.axial_toggle_calendar_date
{
    overflow: hidden;
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.axial_toggle_calendar_date-holder
{
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 4px;
    overflow: hidden;
}
.axial_toggle_calendar_date-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #efefef;

    opacity: 0;
}
.axial_toggle_calendar_date-middleground
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--themeColor);

    opacity: 0;
}
.axial_toggle_calendar_date-foreground
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.axial_toggle_calendar_date-num
{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 15px;
    color: #232323;
}
/* AxialCalendarGrid */
.axial_calendar_grid_base
{
    width: 280px;
    height: 240px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 4px;

    background-color: #fff;
}
/* AxialOverlayCalendar */
.axial_overlay_calendar
{
    position: absolute;
    width: 304px;
    height: 344px;
    border-radius: var(--component___borderRadius);
    overflow: hidden;
    border: 2px solid var(--themeColor);
}
/* AxialCalendar */
.axial_calendar
{
    position: relative;
    width: 300px;
    height: 340px;
    border-radius: var(--container___borderRadius);
    overflow: hidden;
}
.axial_calendar-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.axial_calendar-content
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.axial_calendar-header
{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.axial_calendar-label
{
    flex-grow: 1;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    padding-left: 4px;
}
.axial_calendar-nav
{
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.axial_calendar-days
{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    column-gap: 4px;
}
.axial_calendar-day
{
    color: #000;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.axial_calendar-dates
{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 4px;
}
.axial_calendar-date
{
    color: #000;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* AxialAgenda */
.axial_agenda
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.axial_agenda-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: #ccc;*/
}
.axial_agenda-main
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.axial_agenda-header
{
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
    background-color: #fff;
}
.axial_agenda_header-label
{
    flex-grow: 1;
    color: #000;
    font-weight: 800;
    font-size: 26px;
}
.axial_agenda_header-nav
{
    margin-top: 6px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.axial_agenda-days
{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 40px repeat(7, 1fr);
    grid-template-rows: 60px;
    gap: 0 0;
    border-bottom: 1px solid #ccc;
    overflow-y: scroll;
}
.axial_agenda-days::-webkit-scrollbar{ visibility: hidden; }
.axial_agenda-hours
{
    grid-column: 1;
    grid-row: 1 / span 24;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.axial_agenda-times
{
    grid-column: 1;
    grid-row: 1 / span 24;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.axial_agenda-content
{
    position: absolute;
    width: 100%;
    top: 150px;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.axial_agenda-grid
{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 40px repeat(7, 1fr);
    grid-template-rows: repeat(24, 60px);
    gap: 0 0;
}
/* AxialAgendaDay */
.axial_agenda_day
{
    position: relative;
    height: 60px;
    background-color: #fff;
    border-left: 1px solid #ccc;
}
.axial_agenda_day-background
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.axial_agenda_day-content
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.axial_agenda_day-dayname
{
    font-size: 14px;
    font-weight: 600;
    flex-shrink: 0;
}
.axial_agenda_day-datenum
{
    font-size: 24px;
    font-weight: 800;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* AxialAgendaHour */
.axial_agenda_hour
{
    position: relative;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
.axial_agenda_hour-background
{
    position: absolute;
}

/* AxialAgendaTime */
.axial_agenda_time
{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.axial_agenda_time-label
{
    font-size: 11px;
    font-weight: 600;
    background-color: #fff;
}
/* AxialAgendaCell */
.axial_agenda_cell
{
    position: relative;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.axial_agenda_cell-background
{
    position: absolute;
}
.axial_agenda_cell-over
{
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(3, 150, 218, 0.46);*/

}
/* AxialInfinity */
.axial_infinity
{
    position: relative;
    width: 100%;
    height: 100%;
}
.axial_infinity-holder
{
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 200px;
    transform-style: preserve-3d;
}
/* AxialInfinityItem */
.axial_infinity_item
{
    position: absolute;
    z-index: 100;
}
.axial_infinity_item-holder
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
}

/* CHARTS */
/* AxialChartElementBar */
.axial_chart_element_bar
{
    position: relative;
    width: 140px;
    height: 100%;
}
.axial_chart_element_bar-holder
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.axial_chart_element_bar-bar
{
    min-width: 40px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
    overflow: hidden;
    border-radius: 3px;
    background-color: var(--themeColor);
    color: #fff;
    font-weight: 500;
}

.axial_chart_element_bar-label
{
    flex-shrink: 0;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    overflow: hidden;
    display: block;
    text-align: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

/* AxialChart */
.axial_chart
{
    position: relative;
    min-width: 320px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.axial_chart-container
{
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.axial_chart-holder
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.axial_chart-header
{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--adminBody___borderColor);
}
.axial_chart-title
{
    font-size: 18px;
    font-weight: 600;
    flex-grow: 1;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.axial_chart-action
{
    flex-shrink: 0;
    font-weight: 800;
}
.axial_chart-main
{
    position: relative;
    width: 100%;
    flex-grow: 1;
    border-bottom: 1px solid var(--adminBody___borderColor);
}
.axial_chart-area
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.axial_chart-axis_area
{
    position: absolute;
    left: 0;
    width: auto;
    top: 0;
    bottom: var(--charts___axisSize);
}
.axial_chart-axis_y
{
    position: absolute;
    left: 0;
    width: var(--charts___axisSize);
    height: 100%;
    background-color: #f8f9fb;
}
.axial_chart-axis_scroll
{
    position: absolute;
    left: var(--charts___axisSize);
    right: 0;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /*background-color: #f00;*/
}
.axial_chart-axis_x
{
    position: absolute;
    background-color: #f8f9fb;
    width: auto;
    height: var(--charts___axisSize);
    left: 0;
    bottom: 0;
    /*
    left: var(--charts___axisSize);
    right: 0;
    
    bottom: 0;
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100%;
    */
}
.axial_chart-step_x
{
    position: absolute;
    min-width: 32px;
    height: 100%;
    padding-top: 2px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.axial_chart-area_row
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.axial_chart-area_column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* AxialChartAverageTime */
.axial_chart_average_time-area
{
    font-size: 40px;
    font-weight: 800;
}

/* AxialChartTraffic */
.axial_chart_traffic-point
{
    position: absolute;
    width: 14px;
    height: 14px;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--themeColor);
    border: 2px solid #fff;
    transform: translate(-50%, 50%);
}
.axial_chart_traffic-line
{
    position: absolute;
    height: 2px;
    background-color: var(--themeColor);
    transform-origin: left center;
    transform: translateY(1px);
}
.axial_chart_traffic-num
{
    position: absolute;
    height: 24px;
    width: auto;
    color: #232323;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    background-color: #f8f9fb;
    transform: translate(-50%, -14px);
}

.axial_chart_traffic-yline
{
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

.axial_chart_traffic-ynum
{
    position: absolute;
    height: 24px;
    width: 32px;
    color: #f8f9fb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    background-color: #232323;
    transform: translate(0, -12px);
}