@media screen and ( min-width: 370px )
{
    
}

@media screen and ( min-width: 420px )
{
    
}

@media screen and ( min-width: 768px )
{
    :root
    {
        /* footer legal */
        --footer___legal___direction: row;
        --footer___legal___justify:   flex-start;
        --footer___legal___align:     center;
        --footer___legal___gap:       20px;

        /* footer social */
        --footer___social___direction: row;
        --footer___social___justify:   flex-start;
        --footer___social___align:     center;
        --footer___social___gap:       20px;
    }

    .axial_form_utils_grid
    {
        display: grid;
    }
}

@media screen and ( min-width: 992px )
{
    .axial_header_nav
    {
        display: flex;
    }
}

@media screen and ( min-width: 1200px )
{
    :root
    {
        /* ADMIN */
        /* panel */
        --adminPanel___width: 320px;
        --adminPanel___transform: translateX(0);
        --adminPanel___transitionDuration: 0ms;

        --adminMain___left: 320px;

        /* header */
        --header___paddingH: 4%;
        --header___paddingV: 10px;

        /* header nav item */
        --headerNavItem___fontSize: 20px;

        /* footer */
        --footer___paddingH: 4%;
        --footer___paddingV: 0px;
        --footer___sectionDirection: row;

        /* sections */
        --section___paddingH: 4%;
        --section___paddingV: 40px;

        .axial_admin_burger
        {
            display: none;
        }

        .axial_web_menu_button_holder
        {
            display: none;
        }

        .axial_web_desktop_nav
        {
            display: flex;
        }
    }
}

@media screen and ( min-width: 1400px )
{
    :root
    {
        /* header */
        --header___paddingH: 4%;
        --header___paddingV: 10px;

        /* header nav item */
        --headerNavItem___fontSize: 21px;

        /* footer */
        --footer___paddingH: 4%;
        --footer___paddingV: 0px;
        --footer___sectionDirection: row;

        /* sections */
        --section___paddingH: 4%;
        --section___paddingV: 40px;
    }
}

@media screen and ( min-width: 1600px )
{
    :root
    {
        /* header */
        --header___paddingH: 10%;
        --header___paddingV: 10px;

        /* header nav item */
        --headerNavItem___fontSize: 23px;

        /* footer */
        --footer___paddingH: 10%;
        --footer___paddingV: 0px;
        --footer___sectionDirection: row;

        /* sections */
        --section___paddingH: 10%;
        --section___paddingV: 40px;
    }
}