/* TOOLTIP NEW 2024 */
.axial_tooltip_base
{
    position: absolute;
    visibility: hidden;
    
    opacity: 1;
    transform: translate(0%, 0%);

    transition-property: none;
    transition-duration: 500ms;
    transition-timing-function: ease;

    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-top: 14px;

    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.73);
    backdrop-filter: blur(8px);
    color: var(--white);
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
}

/* OVERLAY NEW 2024 */
.axial_overlay_base
{
    position: absolute;
    visibility: hidden;
    
    opacity: 1;
    transform: translate(0%, 0%);

    transition-property: none;
    transition-duration: 500ms;
    transition-timing-function: ease;
}