/* FRAMEWORK VARIABLES */
:root
{
    /* colors */
    --white: #fff;
    --greyLight: #f2f3f4;
    --greyDark: #232323;
    --black: #111;

    --themeColor: #0463b1;

    /* body */
    --body___mainFont: "Raleway", sans-serif;
    --body___backgroundColor: var(--white);
    --body___textColor: var(--black);

    /* header */
    --header___height: 80px;
    --header___paddingH: 10px;
    --header___paddingV: 10px;
    --header___backgroundColor: var(--white);

    --headerTitle___fontSize: 36px;
    --headerTitle___fontWeight: 700;

    /* footer */
    --footer___paddingH: 10px;
    --footer___paddingV: 10px;

    /* input */
    --input___fontSize: 17px;
    --input___fontWeight: 500;

    --input___placeholderFontSize: 16px;
    --input___placeholderFontWeight: 400;

    /* components */
    --component___borderRadius: 6px;
    --container___borderRadius: 10px;

    /* AxialButton */
    --AxialButton___textColor: var(--white);
    --AxialButton___backgroundColor: var(--themeColor);
    --AxialButton___fontWeight: 500;
    --AxialButton___boxShadow: 0px 1px 1px var(--greyDark);

    /* AxialButtonIcon */
    --AxialButtonIcon___textColor: var(--white);
    --AxialButtonIcon___backgroundColor: var(--themeColor);
    --AxialButtonIcon___fontWeight: 500;
    --AxialButtonIcon___boxShadow: 0px 1px 1px var(--greyDark);
    --AxialButtonIcon___svgFill: var(--white);

    /* AxialToggleCheck */
    --AxialToggleCheck___textColor: var(--greyDark);

    /* AxialToggleRadio */
    --AxialToggleRadio___color: var(--greyDark);
}