/* AxialViewerBase */
.axial_viewer_base
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}
/* AxialViewBase */
.axial_view_base
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    overflow-x: hidden;
    overflow-y: auto;
}
/* AxialViewer */
.axial_viewer
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}
.axial_viewer_holder
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* AxialView */
.axial_view
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    overflow: hidden;
}
.axial_view_holder
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Indicator */
.axial_viewer_indicator
{
    position: relative;
    width: 100%;
    height: auto;
}
.axial_viewer_indicator-holder
{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.axial_viewer_indicator-bar
{
    position: absolute;
    width: 2px;
    left: 29px;
    top: 30px;
    background-color: #aaa;
}

.axial_viewer_indicator-progress
{
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0%;
    background-color: var(--themeColor);

    transition-property: height;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

/* IndicatorStep */
.axial_viewer_indicator_step
{
    position: relative;
    width: auto;
    height: 60px;
    overflow: hidden;
    border-radius: 4px;
}
.axial_viewer_indicator_step-holder
{
    position: relative;
    width: auto;
    height: 100%;
    
}
.axial_viewer_indicator_step-content
{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.axial_viewer_indicator_step-badge
{
    width: 60px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #aaa;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 2px;

    border: 2px solid #aaa;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;

    transition-property: color, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
.axial_viewer_indicator_step-label
{
    color: #aaa;
    font-weight: 800;
    font-size: 18px;

    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}