<!-- ./admin/users/AxialAdminUserListItem -->
<template id="axial-admin-user-list-item-template">
    <link rel="stylesheet" href="./styles.css">
    <div class="axial_admin_list_item-background"></div>
    <div class="axial_admin_list_item-content">
        <div id="name" class="axial_admin_user_list_item-name"></div>
        <div id="email" class="axial_admin_user_list_item-email"></div>
        <div id="role" class="axial_admin_user_list_item-role"></div>
        <div id="account" class="axial_admin_user_list_item-account">
            <div id="accountImage"  class="axial_admin_user_list_item-account-image"></div>
            <div  class="axial_admin_user_list_item-account-column">
                <div id="accountName" class="axial_admin_user_list_item-account-name"></div>
                <div id="accountPrice" class="axial_admin_user_list_item-account-price"></div>
            </div>
        </div>
        <div id="status" class="axial_admin_user_list_item-status"></div>
        <div id="newsletter" class="axial_admin_user_list_item-newsletter"></div>
        <div id="creation" class="axial_admin_user_list_item-creation"></div>
    </div>
</template>