<!-- AxialCalendar -->
<template id="axial-calendar-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="background" class="axial_calendar-background"></div>
    <div id="content" class="axial_calendar-content">
        <div id="header" class="axial_calendar-header">
            <div id="label" class="axial_calendar-label"></div>
            <div id="previous" class="axial_calendar-previous"></div>
            <div id="next" class="axial_calendar-next"></div>
        </div>
        <div id="days" class="axial_calendar-days"></div>
        <axial-calendar-grid-base></axial-calendar-grid-base>
    </div>
</template>