<!-- AxialWeekPlanning -->
<template id="axial-week-planning-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="grid" class="axial_week_planning-grid">
        <div class="axial_week_planning-cell axial_week_planning-morning">Matin</div>
        <div class="axial_week_planning-cell axial_week_planning-morning_start">Début</div>
        <div class="axial_week_planning-cell axial_week_planning-morning_end">Fin</div>
        <div class="axial_week_planning-cell axial_week_planning-morning_total">Total</div>
        <div id="totalMorning" class="awp_total awp_morning_total">20:00</div>

        <div class="axial_week_planning-cell axial_week_planning-noon">Après-midi</div>
        <div class="axial_week_planning-cell axial_week_planning-noon_start">Début</div>
        <div class="axial_week_planning-cell axial_week_planning-noon_end">Fin</div>
        <div class="axial_week_planning-cell axial_week_planning-noon_total">Total</div>
        <div id="totalNoon" class="awp_total awp_noon_total">15:00</div>

        <div id="totalWeek" class="awp_total awp_week_total">35:00</div>

        <div class="axial_week_planning-cell axial_week_planning-day">Jour</div>
        <div class="axial_week_planning-cell axial_week_planning-monday">Lundi</div>
        <div class="axial_week_planning-cell axial_week_planning-tuesday">Mardi</div>
        <div class="axial_week_planning-cell axial_week_planning-wednesday">Mercredi</div>
        <div class="axial_week_planning-cell axial_week_planning-thursday">Jeudi</div>
        <div class="axial_week_planning-cell axial_week_planning-friday">Vendredi</div>
        <div class="axial_week_planning-cell axial_week_planning-saturday">Samedi</div>
        <div class="axial_week_planning-cell axial_week_planning-sunday">Dimanche</div>

        <input type="time" value="08:00" class="awp_input awp_morning_start-1"> <input type="time" value="12:00" class="awp_input awp_morning_end-1"> <div class="awp_subtotal awp_morning_subtotal-1">04:00</div>
        <input type="time" value="08:00" class="awp_input awp_morning_start-2"> <input type="time" value="12:00" class="awp_input awp_morning_end-2"> <div class="awp_subtotal awp_morning_subtotal-2">04:00</div>
        <input type="time" value="08:00" class="awp_input awp_morning_start-3"> <input type="time" value="12:00" class="awp_input awp_morning_end-3"> <div class="awp_subtotal awp_morning_subtotal-3">04:00</div>
        <input type="time" value="08:00" class="awp_input awp_morning_start-4"> <input type="time" value="12:00" class="awp_input awp_morning_end-4"> <div class="awp_subtotal awp_morning_subtotal-4">04:00</div>
        <input type="time" value="08:00" class="awp_input awp_morning_start-5"> <input type="time" value="12:00" class="awp_input awp_morning_end-5"> <div class="awp_subtotal awp_morning_subtotal-5">04:00</div>
        <input type="time" value="00:00" class="awp_input awp_morning_start-6"> <input type="time" value="00:00" class="awp_input awp_morning_end-6"> <div class="awp_subtotal awp_morning_subtotal-6">00:00</div>
        <input type="time" value="00:00" class="awp_input awp_morning_start-7"> <input type="time" value="00:00" class="awp_input awp_morning_end-7"> <div class="awp_subtotal awp_morning_subtotal-7">00:00</div>

        <input type="time" value="14:00" class="awp_input awp_noon_start-1"> <input type="time" value="17:00" class="awp_input awp_noon_end-1"> <div class="awp_subtotal awp_noon_subtotal-1">03:00</div>
        <input type="time" value="14:00" class="awp_input awp_noon_start-2"> <input type="time" value="17:00" class="awp_input awp_noon_end-2"> <div class="awp_subtotal awp_noon_subtotal-2">03:00</div>
        <input type="time" value="14:00" class="awp_input awp_noon_start-3"> <input type="time" value="17:00" class="awp_input awp_noon_end-3"> <div class="awp_subtotal awp_noon_subtotal-3">03:00</div>
        <input type="time" value="14:00" class="awp_input awp_noon_start-4"> <input type="time" value="17:00" class="awp_input awp_noon_end-4"> <div class="awp_subtotal awp_noon_subtotal-4">03:00</div>
        <input type="time" value="14:00" class="awp_input awp_noon_start-5"> <input type="time" value="17:00" class="awp_input awp_noon_end-5"> <div class="awp_subtotal awp_noon_subtotal-5">03:00</div>
        <input type="time" value="00:00" class="awp_input awp_noon_start-6"> <input type="time" value="00:00" class="awp_input awp_noon_end-6"> <div class="awp_subtotal awp_noon_subtotal-6">00:00</div>
        <input type="time" value="00:00" class="awp_input awp_noon_start-7"> <input type="time" value="00:00" class="awp_input awp_noon_end-7"> <div class="awp_subtotal awp_noon_subtotal-7">00:00</div>
    </div>
</template>