<!-- AxialToggleCalendarDate -->
<template id="axial-toggle-calendar-date-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="holder" class="axial_toggle_calendar_date-holder">
        <div id="background" class="axial_toggle_calendar_date-background"></div>
        <div id="middleground" class="axial_toggle_calendar_date-middleground"></div>
        <div id="foreground" class="axial_toggle_calendar_date-foreground"></div>
        <div id="num" class="axial_toggle_calendar_date-num"></div>
    </div>
</template>