<!-- AxialAgendaDay -->
<template id="axial-agenda-day-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="background" class="axial_agenda_day-background"></div>
    <div id="content" class="axial_agenda_day-content">
        <div id="dayName" class="axial_agenda_day-dayname"></div>
        <div id="dateNum" class="axial_agenda_day-datenum"></div>
    </div>
</template>
<!-- AxialAgendaHour -->
<template id="axial-agenda-hour-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="background" class="axial_agenda_hour-background"></div>
</template>
<!-- AxialAgendaTime -->
<template id="axial-agenda-time-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="label" class="axial_agenda_time-label"></div>
</template>
<!-- AxialAgendaCell -->
<template id="axial-agenda-cell-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="background" class="axial_agenda_cell-background"></div>
    <div id="over" class="axial_agenda_cell-over"></div>
</template>
<!-- AxialAgenda -->
<template id="axial-agenda-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="background" class="axial_agenda-background"></div>
    <div id="main" class="axial_agenda-main">
        <div id="header" class="axial_agenda-header">
            
            <div id="label" class="axial_agenda_header-label">Month Year</div>
            <div id="previous" class="axial_agenda_header-nav">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                </svg>
            </div>
            <div id="next" class="axial_agenda_header-nav">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
            </div>
            
        </div>
        <div id="days" class="axial_agenda-days"></div>
        <div id="content" class="axial_agenda-content">
            <div id="grid" class="axial_agenda-grid">
                <div id="hours" class="axial_agenda-hours"></div>
                <div id="times" class="axial_agenda-times"></div>
            </div>
        </div>
    </div>
</template>