<!-- AxialBurgerButton -->
<template id="axial-burger-button-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="background" class="axial_burger_button-background"></div>
    <div id="lines" class="axial_burger_button-lines">
        <div id="top" class="axial_burger_button-line axial_burger_button-top"></div>
        <div id="middle" class="axial_burger_button-line axial_burger_button-middle"></div>
        <div id="bottom" class="axial_burger_button-line axial_burger_button-bottom"></div>
    </div>
</template>