*
{
    box-sizing: border-box;
}

html
{
    -webkit-tap-highlight-color: transparent;
    text-shadow: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

body
{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    font-family: @Body___mainFont;
    background-color: @Body___backgroundColor;
    color: @Body___textColor;

    -webkit-text-size-adjust: 100%;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a
{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: @Body___headingFont;
    color: @Body___headingColor;
}

input
{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* layers */
.axial_background_layer
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.axial_main_layer
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.axial_intro_layer
{
    position: absolute;
    width: 100%;
    height: 100%;

    /* temp */
    display: none;
}

/* header */
.axial_header
{
    position: absolute;
    width: 100%;
    height: @Header___height;
}

/* application components */
.axial_scroller_base
{
    overflow-x: hidden;
    overflow-y: auto;
}

.axial_scroller_item_base
{
    animation-delay: 0ms;
    animation-duration: 0ms;
    animation-fill-mode: backwards;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

/* utils */
.axial_spacer
{
    flex-grow: 1;
}