/* FRAMEWORK VARIABLES */
/* for futur IDE */

/* BUTTON */
@axButtonColor: #666;
@axButtonBackgroundColor: #fff;
@axButtonBorderRadius: 2px;
@axButtonBoxShadow: 0px 0.5px 2px 0px #9b9b9b;

/* CONTAINER */
/*
@axHeaderContainerBackgroundColor: #607d8b;
@axHeaderContainerBoxShadow: 0px 1px 3px 0px #333;
*/

/* MENU */
@axMenuColor: #666;
@axMenuBackgroundColor: #fff;
@axMenuBorderRadius: 2px;
@axMenuBoxShadow: 0px 0.5px 2px 0px #9b9b9b;

/* TOOLTIPS */
@axTooltipColor: rgba(255, 255, 255, 1);
@axTooltipBackgroundAlpha: 1;
@axTooltipBackgroundColor: rgba(0, 0, 0, @axTooltipBackgroundAlpha);
@axTooltipBorderRadius: 2px;


/* NEW SHADOW */

/* Axial Application Theme */
@Body___primaryFont: "Arial", sans-serif;
@Body___secondaryFont: "Arial", sans-serif;
@Body___backgroundColor: #fff;

/* AxialButton */
@AxialButton___backgroundColor: #0463b1;
@AxialButton___borderRadius: 4px;
@AxialButton___boxShadow: 0px 1px 1px #111;
@AxialButton___color: #fff;
@AxialButton___fontWeight: 500;