/* AxialViewerBase */
.axial_viewer_base
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

/* AxialViewBase */
.axial_view_base
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    overflow: hidden;
}
