<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>AXIAL</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <meta property="og:url"                 content="https://dndev.fr/" />
    <meta property="og:type"                content="website" />
    <meta property="og:title"               content="" />
    <meta property="og:description"         content="" />
    <meta property="og:image"               content="" />
    <meta property="og:image:width"         content="" />
    <meta property="og:image:height"        content="" />
    
    <link rel="icon" type="image/x-icon" href="../assets/favicon/favicon.ico">

    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <!--$$$ COMPONENTS_ENTRY_POINT $$$-->
    
    <div id="axialBackgroundLayer" class="axial_layer_base axial_background_layer"></div>
    
    <div id="axialMainLayer" class="axial_main_layer"></div>

    <div id="axialIntroLayer" class="axial_layer_base axial_intro_layer"></div>

    <div id="axialPopupLayer" class="axial_layer_base axial_popup_layer">
        <div id="axialPopupObfuscator" class="axial_popup_obfuscator"></div>
    </div>

    <div id="axialNotificationLayer" class="axial_layer_base axial_notification_layer"></div>
    
    <div id="axialOverlayLayer" class="axial_layer_base axial_overlay_layer"></div>

    <div id="axialTooltipLayer" class="axial_layer_base axial_tooltip_layer"></div>

    
    <script src="./application.js" defer></script>
    
</body>
</html>