<!-- ./admin/subscriptions/AxialAdminSubscriptionListItem -->
<template id="axial-admin-subscription-list-item-template">
    <link rel="stylesheet" href="./styles.css">
    <div class="axial_admin_list_item-background"></div>
    <div class="axial_admin_list_item-content">
        <div class="axial_admin_subscription_list_item-product">
            <div id="photo" class="axial_admin_subscription_list_item-photo"></div>
            <div id="name" class="axial_admin_subscription_list_item-name">Name</div>
        </div>
        <div id="price" class="axial_admin_subscription_list_item-price"></div>
        <div id="recurrence" class="axial_admin_subscription_list_item-recurrence"></div>
        <div id="state" class="axial_admin_subscription_list_item-state"></div>
        <div id="creation" class="axial_admin_subscription_list_item-creation"></div>
    </div>
</template>