<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <!-- ELECTRON -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
    <!-- <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->

    <title>AXIAL</title>
    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <meta property="og:url"                 content="https://dndev.fr/" />
    <meta property="og:type"                content="website" />
    <meta property="og:title"               content="" />
    <meta property="og:description"         content="" />
    <meta property="og:image"               content="" />
    <meta property="og:image:width"         content="" />
    <meta property="og:image:height"        content="" />
    
    <link rel="icon" type="image/x-icon" href="./assets/favicon/favicon.ico">

    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <!--$$$ COMPONENTS_ENTRY_POINT $$$-->
    <template id="axial-button-template">
        <link rel="stylesheet" href="./styles.css">
        <div id="background" class="axial_button-background"></div>
        <div id="foreground" class="axial_button-foreground"></div>
        <div id="content" class="axial_button-content">
            <div id="icon" class="axial_button-icon">
                <slot id="iconSlot" name="axial-icon"></slot>
            </div>
            <div id="label" class="axial_button-label"></div>
        </div>
    </template>
    
    <div id="axialBackgroundLayer" class="axial_layer_base axial_background_layer"></div>
    
    <div id="axialMainLayer" class="axial_main_layer">

        <!--$$$ HEADER_ENTRY_POINT $$$-->
        <header class="axial_header">
            <div class="axial_header_background"></div>
            <div class="axial_header_content">
                <a class="axial_header_logo" href="../" target="_self">
                    <img class="axial_header_logo_svg" alt="logo" src="../assets/logos/logo.svg">
                </a>

                <div class="axial_spacer"></div>

            </div>
        </header>

        <!--$$$ MAIN_ENTRY_POINT $$$-->
        <main class="axial_main">

            <!-- FIRST SECTION -->
            <section class="axial_section">
                <div class="axial_section_background"></div>
                <div class="axial_section_content axial_section_padding axial_section_temp">SECTION 1</div>
            </section>

            <!-- FIRST SECTION -->
            <section class="axial_section">
                <div class="axial_section_background"></div>
                <div class="axial_section_content axial_section_padding axial_section_temp">SECTION 2</div>
            </section>

            <!-- FIRST SECTION -->
            <section class="axial_section">
                <div class="axial_section_background"></div>
                <div class="axial_section_content axial_section_padding axial_section_temp">SECTION 3</div>
            </section>

            <!-- FIRST SECTION -->
            <section class="axial_section">
                <div class="axial_section_background"></div>
                <div class="axial_section_content axial_section_padding axial_section_temp">SECTION 4</div>
            </section>

            <!-- FIRST SECTION -->
            <section class="axial_section">
                <div class="axial_section_background"></div>
                <div class="axial_section_content axial_section_padding axial_section_temp">SECTION 5</div>
            </section>

            <!--$$$ FOOTER_ENTRY_POINT $$$-->
            <footer class="axial_footer">
                <div class="axial_footer_background"></div>
                <div class="axial_footer_content">
                    <div class="axial_footer_section">
                        <div class="axial_footer_legal">
                            <a class="axial_footer_legal_link" target="_self" href="../politique-de-confidentialite/">Politique de confidentialité</a>
                            <a class="axial_footer_legal_link" target="_self" href="../mentions-legales/">Mentions légales</a>
                        </div>
                        <div class="axial_footer_social">
                            <a class="axial_footer_social_link" target="_blank" title="instagram" href="https://www.instagram.com/">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                                </svg>
                            </a>
                            <a class="axial_footer_social_link" target="_blank" title="facebook" href="https://www.facebook.com/">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </footer>

        </main>
        
    </div>

    <div id="axialIntroLayer" class="axial_layer_base axial_intro_layer"></div>

    <div id="axialPopupLayer" class="axial_layer_base axial_popup_layer">
        <div id="axialPopupObfuscator" class="axial_popup_obfuscator"></div>
    </div>
    
    <div id="axialNotificationLayer" class="axial_layer_base axial_notification_layer"></div>

    <div id="axialOverlayLayer" class="axial_layer_base axial_overlay_layer"></div>

    <div id="axialTooltipLayer" class="axial_layer_base axial_tooltip_layer"></div>

    <div id="axialTransitionLayer" class="axial_layer_base axial_transition_layer"></div>
    
    <script src="./application.js" defer></script>
    
</body>
</html>