<!-- ./button/AxialServiceButton -->
<template id="axial-service-button-template">
    <link rel="stylesheet" href="./styles.css">
    <div id="background" class="axial_service_button-background"></div>
    <div id="foreground" class="axial_service_button-foreground"></div>
    <div id="content" class="axial_service_button-content">
        <div id="icon" class="axial_service_button-icon">
            <div id="indicator" class="axial_service_button-indicator"></div>
        </div>
        <div id="label" class="axial_service_button-label"></div>
    </div>
</template>