<!-- ./forms/AxialServiceFormItemCalendar -->
<template id="axial-service-form-item-calendar-template">
    <link rel="stylesheet" href="./styles.css">
    <div class="axial_service_form_item-holder">
        <div class="axial_service_form_item-header">
            <div id="label" class="axial_service_form_item-label">Label</div>
            <div id="action" class="axial_service_form_item-action">
                <slot id="actionSlot" name="axial-action"></slot>
            </div>
        </div>
        <div class="axial_service_form_item-info">
            <slot id="infoSlot" name="axial-info"></slot>
        </div>
        <div id="content" class="axial_service_form_item-content">
            <slot id="contentSlot" name="axial-content"></slot>
            <div>
                <axial-calendar-button id="calendarButton" axial-text="Sélectionner une date"></axial-calendar-button>
            </div>
        </div>
    </div>
</template>