<!-- ./admin/_views/AxialAdminInternalProductView -->
<template id="axial-admin-internal-product-view-template">
    <link rel="stylesheet" href="./styles.css">
    <div class="axial_admin_view-holder">
        <div class="axial_admin_view-header">
            <div id="title" class="axial_admin_view-title">Produits / Services / Main d'oeuvre</div>
            <div class="axial_spacer"></div>
            <axial-button id="addProductButton" axial-text="Ajouter">
                <i slot="axial-icon" class="fa-color fa-regular fa-square-plus"></i>
            </axial-button>
        </div>
        <div class="axial_admin_view-content">
            <axial-admin-list id="productList">
                <div slot="axial-header" class="axial_admin_internal_product_list_item-product">Nom</div>
                <div slot="axial-header" class="axial_admin_internal_product_list_item-cost">P. Achat</div>
                <div slot="axial-header" class="axial_admin_internal_product_list_item-coef">Coef</div>
                <div slot="axial-header" class="axial_admin_internal_product_list_item-tax">TVA</div>
                <div slot="axial-header" class="axial_spacer"></div>
                <div slot="axial-header" class="axial_admin_list_item-actions"></div>
            </axial-admin-list>
        </div>
    </div>
</template>